#footer-brasil{
    position: relative!important;
}

#mensagem{
    resize:none;
    height: 200px;
}

#panel-email{
    text-align: end;
}

#enviarbtn{
    margin-right: 10px;
    margin-top: 10px;
    width: 150px;
}

.panel-footer{
    text-align: center;
}

h3{
    text-align: center;
}

hr{
    border-color: rgb(177, 177, 177);
}

table th, td{
    text-align: center;
}