.centralizar {
    text-align: center;
}

.sem-borda {
    border: 0px;
    background-color: white;
}

.bg-white {
    background-color: white;
}

.bg-medium {
    background-color: #f1efef;
}

.bg-dark {
    background-color: #dddddd;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #acacacee;
    text-align: left;
    padding: 8px;
}

/* tr:nth-child(even) {
    background-color: #f1efef;
} */